html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
}

.main {
    width: max-content;
} 

.top-container {
    max-height: max-content;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
    background-color: hsl(10, 79%, 65%);
}

.balance > h2 {
    margin: 5px 0;
}

.circles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.circle1 {
    display: inline-block;
    margin-right: -20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
}

.circle2 {
    display: inline;
    width: 40px;
    height: 40px;
    border: 2px solid hsl(25, 47%, 15%);
    background-color: hsl(25, 47%, 15%);
    border-radius: 50%;
}

.spendings {
    padding: 5px 30px;
    border-radius: 10px;
    background-color: hsl(33, 100%, 98%);
}

.spendings > h1 {
    color: hsl(25, 47%, 15%);
    font-weight: 700;
    margin-bottom: 30px;
}

.flex-container{
    display: flex;
}

.b {
    display: flex;
    place-items: end;
}

.d {
    display: flex;
}

.bar-container {
    height: 100%;
    display: grid;
    justify-items: center;
}

.tooltip {
    visibility: hidden;
    width: 47.5px;
    padding: 5px;
    margin-bottom: 3px;
    max-height: max-content;
    background-color:hsl(25, 47%, 15%);
    color: white;
    font-size: medium;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.bar-container:hover .tooltip {
    visibility: visible;
}

.bar {
    width: 45px;
    margin: 0 7.5px;
    border-radius: 5px;
    background-color: hsl(10, 79%, 65%);
}

.bar:hover {
    background-color: hsl(186, 34%, 60%);
    cursor: url(cursor.png), pointer;
}

.day {
    width: 45px;
    margin: 2.5px 7.5px 20px;
    text-align: center;
    color: hsl(28, 10%, 53%);
}

hr {
    color: hsl(28, 10%, 53%);
}

.summary {
    display: grid;
    grid-template-columns: auto auto;
    color: hsl(28, 10%, 53%);
    max-height: max-content;
    vertical-align: bottom;
    /* padding: 5px 20px; */
}

.total > p {
    color: hsl(28, 10%, 53%);
    margin-bottom: 0;
}

.total > h1 {
    margin-top: 0;
    font-weight: bolder;
    color: hsl(25, 47%, 15%);
}

.change {
    padding: 20px 0 5px;
    text-align: right;
}

.percent {
    font-weight: bold;
    color: hsl(25, 47%, 15%);
    margin-bottom: 0;
}

.from {
    margin-top: 2px;
}

.active-bar {
    color: hsl(186, 34%, 60%);
}